body {
    background-color: skyblue;
    margin: 200px 400px;    
}
@keyframes elem-1 {
    15% {
        transform-origin: bottom center;
        transform: scaleX(.4) scaleY(1.25)
    }
    40% {transform: translateY(-100px) scaleX(.4) scaleY(1.25)}
    70% {transform-origin: center center;
        transform: rotate(-360deg) translateY(-100px) scale(.4,1.25)
    }
    80% {transform: translateY(0px) scaleX(.4) scaleY(1.25)}
    100% {transform: translateY(0px) scale(1,1)}
}

@keyframes elem-2 {
    15% {
        transform-origin: bottom center;
        transform: scaleX(.4)
    }
    40% {transform: scaleX(.25)}
    70% {transform: scaleX(.25)}
    80% {transform: scaleX(.4)}
}
div:first-child {
    background-color: white;
    width: 250px;
    height: 80px;
    animation: elem-1 2s linear
}
div:last-child {
    background-color: rgba(0,0,0,.2);
    border-radius: 50% 50%;
    width: 280px;
    height: 30px;
    position: absolute;
    margin-top: -13px;
    margin-left: -15px;
    z-index: -1;
    animation: elem-2 2s linear
}
